.food-display {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  text-align: center;
  font-family: var(--ff-body);
}
/* Leaf */
.food-display .leaf2-img {
  display: none;
  position: absolute;
  z-index: -1;
  right: 0px;
  top: -71px;
  width: 9.7vw;
  min-width: 5rem;
  max-width: 9.313rem;
}
.food-display .leaf3-img {
  display: none;
  position: absolute;
  z-index: -1;
  left: 0px;
  top: -63px;
  width: 9.7vw;
  min-width: 5rem;
  max-width: 9.313rem;
}

.food-display h2 {
  color: var(--fc-secondary);
  font-weight: 500;
  font-family: var(--ff-heading);
  font-size: var(--fs-2xl);
}
.food-display-text-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.food-display-text {
  color: var(--fc-tertiary);
  font-size: var(--fs-md);
  line-height: var(--lh-md);
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 40px;
  gap: 30px;
  row-gap: 50px;
}

/* Responsive Design */
@media (min-width: 640px) {
  .food-display {
    padding-left: 10%;
    padding-right: 10%;
  }
  .food-display-text {
    max-width: 70%;
  }
  .food-display .leaf2-img{
    display: block;
  }
  .food-display .leaf3-img{
    display: block;
  }
}
@media (min-width: 768px) {
  .food-display {
    margin-top: 110px;
  }
  .food-display-text {
    max-width: 60%;
  }
  .food-display-list {
    row-gap: 60px;
  }
  .food-display .leaf2-img{
    top: -84px;
  }
  .food-display .leaf3-img{
    top: -74px;
  }
}
@media (min-width: 1024px) {
  .food-display {
    margin-top: 120px;
  }
  .food-display-text {
    max-width: 50%;
  }
  .food-display .leaf2-img{
    top: -100px;
  }
  .food-display .leaf3-img{
    top: -87px;
  }
}
@media (min-width: 1280px) {
  .food-display {
    margin-top: 135px;
  }
  .food-display .leaf2-img{
    top: -120px;
  }
  .food-display .leaf3-img{
    top: -100px;
  }
}
@media (min-width: 1536px) {
  .food-display {
    margin-top: 150px;
  }
}
/* Optional */
@media (min-width: 1700px) {
  .food-display-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
